html {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.container {
	width: 40%;
    height:100%;
	margin: 20px auto;
    text-align: center;
}

#grid {
    margin: 7% auto;
}
.square {
    min-width: 20%;
	max-width: 20%;
    min-height: 100px;
    max-height: 20%;
    overflow: auto;
	background-color: white;
	/*padding-bottom: 15%;*/
	float: left;
	margin: 2% 6.66%;
    border: solid 1px black;
}

.left{
    margin-left: 13.2%;
}

.middle {
    margin: 2% 0;
}

.right {
    position: absolute;
    top: 70%;
    bottom: 10%;
    left: 80%;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.footer {
    margin: 2%;
    text-align: center;
}

.center {
    margin-left: 43%;
    margin-right: 44%;
}

/*color options
==========================*/

